RewriteEngine On
Options +FollowSymLinks
RewriteRule ^api.php - [NC,L]
RewriteRule ^LICENSE - [NC,L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ /api.php?command=$1&parm=$2&out=$3&reg=$4 [L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ /api.php?command=$1&parm=$2&out=$3&reg=de-by [L]
RewriteRule ^([^/]*)/([^/]*)$ /api.php?command=$1&parm=$2&out=HTML&reg=de-by [L]
RewriteRule ^([^/]*)$ /api.php?command=$1&parm=NOW&out=HTML&reg=de-by [L]
RewriteRule ^$ api.php [NC,L]